@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif;
    background: #FEFCF7;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}


img {
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
}

span {
    display: inline-block;
}