.about_us {
    background-image: url(/assets/img/coffeee.jpg);
    background-repeat: no-repeat;
    padding: 137px 0 137px 85px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.hero_text_1 {
    color: #FEFCF7;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
}

.hero_text_2 {
    width: 455px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}