.buttom_box {
    width: 730px;
    height: 208px;
    padding: 27px 64px;
    background-color: #2C343E;
    margin-left: 510px;
    margin-bottom: 40px;
}

.span_3 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.span_2 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.span_1 {
    color: #0E8784;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.btn_1_1 {
    color: #FEFCF7;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background: #0E8784;
    margin-left: 1025px;
    margin-bottom: 168px;
}