.Create_a_plan {
    background-image: url(/assets/img/love_coffee.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 137px 0 137px 85px;
    margin-bottom: 150px;
}

.text_1 {
    color: #FEFCF7;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 32px;
}

.text_2 {
    width: 445px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}