.four_box {

    .how {
        color: #83888F;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        margin-bottom: 56px;
    }

    .hero_img_8 {
        position: relative;
    }

    .strelka_img {
        position: absolute;
        top: 20px;
        right: 5px;
    }

    .how {
        margin-left: 520px;
        color: #83888F;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    .title_1 {
        color: #333D4B;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .four_box_li {
        padding: 32px 32px 32px;
        width: 228px;
        height: 250px;
        border-radius: 8px;
        background: #F4F1EB;
    }
    .four_box_li_3 {
        padding: 32px 25px 32px;
        width: 228px;
        height: 250px;
        border-radius: 8px;
        background: #F4F1EB;
    }

    .title_5 {
        color: #333D4B;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .four_box_li_1 {
        padding: 32px 32px 32px;
        width: 228px;
        height: 250px;
        border-radius: 8px;
        background: #0E8784;
    }

    .title_3 {
        color: white;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .four_box_li_2 {
        padding: 32px 32px 32px;
        width: 228px;
        height: 250px;
        border-radius: 8px;
        background: #FDD6BA;
    }

    .four_box_ul {
        justify-content: end;
        margin-bottom: 88px;
        gap: 0 23px;
        display: flex;
        align-items: center;
    }

    .title_4 {
        width: 172px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .title_2 {
        width: 180px;
        color: #333D4B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }


}