.headquarters {
    
    .headquarters_ul{ 
        display: flex;
        align-items: center;
        margin-bottom: 160px;
    }

    .hero_text_7 {
        color: #83888F;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-left: 85px;
    }

    .img_4 {
        margin-left: 85px;
        margin-bottom: 45px;
    }

    .text_8 {
        color: #333D4B;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        margin-left: 85px;
        margin-bottom: 24px;
    }

    .text_10 {
        margin-left: 85px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .text_12 {
        color: #333D4B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-left: 105px;
        
    }

    .text_13 {
        margin-left: 100px;
        color: #333D4B;
        font-family: Fraunces 9pt;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        margin-bottom: 24px;
    }
    .img_15 {
        margin-top: 75px;
        margin-left: 110px;
        margin-bottom: 45px;
    }

}