.main {
    .section {
        background-image: url(../../assets/img/coffe.jpg);
        background-repeat: no-repeat;
        padding: 117px 0 117px 85px;
        border-radius: 10px;
    }

    .main_box_text {
        color: #FEFCF7;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-bottom: 32px;
    }

    .main_box_text_1 {
        width: 445px;
        color: #FEFCF7;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 56px;
    }


    .btn_1 {
        color: white;
        width: 217px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #0E8784;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces 9pt;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
    }

    .img_2 {
        margin-top: 100px;
    }

    .main_lii_text_1 {
        width: 255px;
        text-align: center;
        color: #333D4B;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 24px;
    }
  

    .section_2 {
        position: relative;
        margin-left: 50px;
        margin-top: 100px;
        background-image: url(../../assets/img/rasm.jpg);
        background-repeat: no-repeat;
        width: 1200px;
        height: 200px;
    }


    .main_lii_text {
        width: 255px;
        text-align: center;
        color: #333D4B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 180px;
    }

    .main_uul {
        position: absolute;
        top: 130px;
        left: -40px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 40px;
    }

    .section_3 {
        padding: 100px 0 317px 0;
        border-radius: 10px;
        margin-top: 450px;
        background: #2C343E;
        margin-bottom: 300px;
    }

    .why {
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces 9pt;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .why_p {
        margin: 0 auto;
        width: 520px;
        color: #FEFCF7;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .section_3_li {
        width: 350px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0E8784;
        // margin-bottom: 2000px;
    }

    .img_4 {
        margin-top: 72px;
        margin-left: 130px;
    }

    .text_3 {
        margin-top: 58px;
        color: #FEFCF7;
        text-align: center;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }

    .text_4 {
        margin-top: 25px;
        margin-left: 40px;
        width: 255px;
        color: #FEFCF7;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .section_3_ul {
        position: absolute;
        top: 300px;
        left: 60px;
        display: flex;
        justify-content: center;
        gap: 0 30px;
    }

    .position {
        position: relative;
    }

   


}