.our_commitment {
    .our_commit {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
    }

    .hero_text_3 {
        color: #333D4B;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .hero_text_4 {
        width: 540px;
        color: #333D4B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
    .img_2 {
        margin-left: 85px;
    }
    .hero_box {
        margin-left: 125px;
    }
}