.Uncompromising {
    position: relative;
    display: flex;
    background-color: #2C343E;
    padding: 88px 85px 145px 85px;
    border-radius: 10px;
    margin-bottom: 170px;
}

.hero_text_5 {
    color: #FEFCF7;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}

.hero_text_6 {
    width: 460px;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.img_3 {
    border-radius: 10px;
    position: absolute;
    top: -70px;
    right: 60px;
}